@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


:root {
  --primary-color: #1f1f2a;
  --secundary-color: #0f0f25;
  --primary-color-darker: #fff;
  --color-purple: #8257E6;
  --color-pink: #A40EE4;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  background: radial-gradient(var(--primary-color), var(--secundary-color));
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2.5rem;
  color: var(--primary-color-darker);
}

h2{
  font-size: 1.5rem;
  color: var(--primary-color-darker);
  margin: 0;
  padding: 0;
  font-weight: 400;
  display: flex;
  text-align: center;
}
h4{
  font-size: 1.2rem;
  color: var(--primary-color-darker);
  margin: 0;
  padding: 0;
  font-weight: 400;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}

p{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: var(--primary-color-darker);
  margin: 5px 0;
  padding: 0;
  width: 30%;
}


input[type="number"]{
  width: 40px;
  height: 25px;
}

input[type="range"]{
  cursor: pointer;
  color: var(--primary-color-darker);
  background-color: var(--primary-color-darker);
  accent-color: var(--color-purple);
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  accent-color: var(--primary-color-darker);
  cursor: pointer;
  border-radius: 10px;
  border: none!important;
  accent-color: var(--color-purple);
}

.input-range{
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color-darker);
  background-color: transparent;
}

.senha-gerada {
  font-size: 1.5rem;
  color: var(--primary-color-darker);
  margin-bottom: 10px;
  padding: 10px 20px;
  box-shadow: 1px 1px 20px 1px var(--primary-color-darker);
  border-radius: 5px;
  margin-bottom: 20px;
}




button {
  margin: 40px 0;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0px 0px 3px 1px #1a1a1a40;
  cursor: pointer;
  padding: 10px 15px;
  background-color: var(--primary-color-darker);
  border-radius: 5px;
  color: var(--secundary-color);
  letter-spacing: 1px;
}

button:hover{
  box-shadow: 1px 1px 20px 2px var(--primary-color-darker);
}

@media screen and (max-width: 699px) {
  .container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 10px 20px;
  }

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.5rem;
  }

  p{
    width: 90%;
    font-size: 1.2rem;
  }
}